:root {
    --dark: rgb(16, 25, 53);
    --mint: #9AD4D6;
    --grape: #564787;
}

body{
    max-width: 2000px;
    margin: 0 auto;
}

/* Text */
h1, h2, h3 , h4, h5, h6, a, p {
    font-family: 'Poppins', sans-serif;
  }

.h2, h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

a{
    color: var(--dark) !important;
}
a:hover{
    color: var(--mint) !important;
    text-decoration: none;
}

/* Buttons */
.btn-primary{
    background: var(--dark);
    padding: 10px;
    border-radius: 30px;
    color: #fff !important;
    width: 150px;
    text-align: center;
    font-weight: 300;
    align-self: end;
    border: none;
}

.btn-primary:hover{
    background: var(--mint);
    color: var(--dark) !important;
}

/* Hero */
.jumbotron{
    background: none;
    padding: 0 1rem !important;
}



/* Navigation bar */

/* General */
.customNav {
    width: 100%;
    background-color: rgba(255,255,255,0.8) !important;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .nav-item {
    margin: 0px 15px;
  }
  
  /* Main content */
.card {
    border: none;
}

.card-title{
    font-size: 24px;
}

.hero .col-sm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar img{
    background: var(--mint);
    max-width: 500px;
}

/* My work */
.card{
    margin: 0 auto;
}
#mywork .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.card-img{
    overflow: hidden;
}
.card-img, .card-img-top {
    border-radius: 0 !important;
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card img{
    filter: grayscale(100%);
    transition: all 0.6s ease;
}

.card:hover img{
    filter: grayscale(0%);
    transform: scale(1.2);
}

.card-footer{
    font-weight: bold;
    background: none;
}
